body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambié esto para alinearlo en la parte superior */
  height: 100vh; /* Asegura que el contenido ocupe toda la altura */
}

.perfil-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #545454;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 40px; /* Mantén el espacio superior */
}

.perfil-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Esto asegura que la imagen cubra todo el área del contenedor */
}

.introduccion {
  text-align: center;
  margin-top: 50px;
}

.introduccion h1 {
  font-size: 2rem;
  color: #333;
}

.introduccion p {
  font-size: 1.1rem;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}

